*.h5
*.zip
*.tar.gz
*.log
*.keras
*.ckpt
__pycache__/
./project_actual/ipynb_checkpoints/
.env
.vscode/
.DS_Store
./project_actual/data/
./project_actual/appilication_data/
./project_actual/app/appilication_data
./MY_TRAIL/appilication_data
./MY_TRAIL/captured/
./MY_TRAIL/pocessed/